<a href="https://colab.research.google.com/github/TryAnotherName/course_test/blob/main/final_work_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Раскомментить, если либы не установлены

# pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Collecting faker
  Downloading Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.1.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 40.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=2bb1229865f1f94d881f7a329132eb6acc095008742b46bb2348aed289db5877
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark, faker
Successfully installed faker-30.1.0 pyspark-3.5.3

In [44]:
# Импортим нужные функции
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql.functions import col
from pyspark.sql.functions import sum as summary
from pyspark.sql.functions import to_date

In [14]:
# Создание SparkSession
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

# Чтение CSV-файла, вывод схемы и пример данных
df = spark.read.csv("/content/web_server_logs.csv", header=True, inferSchema=True)
df.printSchema()
df.show()
df.createOrReplaceTempView("site_logs")

root
 |-- ip: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- method: string (nullable = true)
 |-- url: string (nullable = true)
 |-- response_code: integer (nullable = true)
 |-- response_size: integer (nullable = true)

+---------------+--------------------+------+--------------------+-------------+-------------+
|             ip|           timestamp|method|                 url|response_code|response_size|
+---------------+--------------------+------+--------------------+-------------+-------------+
|  195.20.196.25|2024-08-23 04:21:...|DELETE|tags/wp-content/c...|          301|         2993|
|182.212.187.100|2024-08-25 06:34:...|   GET|          tag/search|          404|          579|
|146.131.177.176|2024-01-13 05:58:...|  POST|      categories/tag|          404|         5922|
| 104.181.93.163|2024-04-15 12:45:...|DELETE|               posts|          301|         4479|
| 92.151.163.149|2024-04-22 07:34:...|DELETE|          categories|          200|         3150|
| 187.176.31.251|2024-02-16 07:02:...|   GET|   search/categories|          301|         9797|
|    132.71.6.10|2024-04-24 16:42:...|  POST|                 tag|          200|         2095|
| 115.209.184.55|2024-05-26 08:50:...|   GET|categories/wp-con...|          404|         3584|
| 174.187.59.168|2024-08-09 19:13:...|DELETE|          posts/main|          500|         7233|
|  212.125.91.74|2024-09-16 13:37:...|   GET|search/categories...|          200|         5063|
|   63.235.138.0|2024-09-23 04:23:...|  POST|             explore|          500|         2296|
|  24.251.30.101|2024-03-04 05:03:...|  POST|                tags|          301|         2025|
|  218.16.119.90|2024-06-09 09:00:...|   GET|     blog/categories|          404|         8330|
|   213.37.77.78|2024-08-08 06:27:...|   GET|              search|          200|         7759|
|  83.238.75.195|2024-05-14 14:53:...|   PUT|      posts/category|          500|         6714|
|    114.7.78.41|2024-02-14 08:51:...|  POST|    explore/app/main|          500|          638|
|   112.52.2.120|2024-06-08 10:40:...|   PUT|      main/tags/list|          500|         5761|
| 216.46.202.217|2024-05-15 20:57:...|   GET|                list|          200|          198|
|   21.189.68.65|2024-09-21 08:08:...|   GET|          categories|          500|         8462|
|  223.173.64.96|2024-02-27 04:44:...|   GET|category/search/tags|          404|         4858|
+---------------+--------------------+------+--------------------+-------------+-------------+
only showing top 20 rows

# Первое задание
## Исполнение через DataFrame API

In [21]:
df.groupBy('ip') \
.agg(count('*').alias('request_count')) \
.orderBy('request_count', ascending=False) \
.show(10)

+--------------+-------------+
|            ip|request_count|
+--------------+-------------+
|186.183.22.102|            2|
|22.144.171.196|            1|
| 141.200.62.78|            1|
|   87.223.2.10|            1|
| 72.187.183.18|            1|
| 22.117.39.167|            1|
|102.215.132.57|            1|
| 182.114.72.23|            1|
|  44.39.135.82|            1|
| 109.99.252.58|            1|
+--------------+-------------+
only showing top 10 rows

## Исполнение через SQL API

In [51]:
first_quest = spark.sql("""
SELECT ip, COUNT(*) request_count
FROM site_logs
GROUP BY ip
ORDER BY request_count DESC
LIMIT 10
""")

# Второе задание
## Исполнение через DataFrame API

In [24]:
df.groupBy('method') \
.agg(count('*').alias('method_count')) \
.show()

+------+------------+
|method|method_count|
+------+------------+
|  POST|       25296|
|DELETE|       24854|
|   PUT|       24927|
|   GET|       24923|
+------+------------+

## Исполнение через SQL API

In [52]:
second_quest = spark.sql("""
SELECT method, COUNT(*) method_count
FROM site_logs
GROUP BY method
""")

# Третье задание
## Исполнение через DataFrame API

In [37]:
df.filter(col('response_code') == 404) \
.count()

25142

## Исполнение через SQL API

In [53]:
third_quest = spark.sql("""
SELECT COUNT(*) response_count
FROM site_logs
WHERE response_code = 404
""")

# Четвертое задание
## Исполнение через DataFrame API

In [46]:
df.groupBy(to_date('timestamp').alias('date')) \
.agg(summary('response_size').alias('total_response_size')) \
.orderBy('date') \
.show()

+----------+-------------------+
|      date|total_response_size|
+----------+-------------------+
|2024-01-01|            1835502|
|2024-01-02|            1853829|
|2024-01-03|            1848673|
|2024-01-04|            1909639|
|2024-01-05|            1844522|
|2024-01-06|            1861087|
|2024-01-07|            2032972|
|2024-01-08|            1711595|
|2024-01-09|            1790842|
|2024-01-10|            1903851|
|2024-01-11|            1857280|
|2024-01-12|            1734784|
|2024-01-13|            1896822|
|2024-01-14|            1938702|
|2024-01-15|            1736091|
|2024-01-16|            1847198|
|2024-01-17|            1811768|
|2024-01-18|            1816352|
|2024-01-19|            1707781|
|2024-01-20|            1976929|
+----------+-------------------+
only showing top 20 rows

## Исполнение через SQL API

In [54]:
fourth_quest = spark.sql("""
SELECT DATE(timestamp) date, SUM(response_size) total_response_size
FROM site_logs
GROUP BY date
ORDER BY date
""")

# Вывод итоговых результатов в требуемом формате

In [67]:
print('Top 10 active IP addresses:')
first_quest.show()
print('Request count by HTTP method:')
second_quest.show()
print('Number of 404 response codes:', third_quest.collect()[0][0])
print('Total response size by day:')
fourth_quest.show()

Top 10 active IP addresses:
+--------------+-------------+
|            ip|request_count|
+--------------+-------------+
|186.183.22.102|            2|
|22.144.171.196|            1|
| 141.200.62.78|            1|
|   87.223.2.10|            1|
| 72.187.183.18|            1|
| 22.117.39.167|            1|
|102.215.132.57|            1|
| 182.114.72.23|            1|
|  44.39.135.82|            1|
| 109.99.252.58|            1|
+--------------+-------------+

Request count by HTTP method:
+------+------------+
|method|method_count|
+------+------------+
|  POST|       25296|
|DELETE|       24854|
|   PUT|       24927|
|   GET|       24923|
+------+------------+

Number of 404 response codes: 25142
Total response size by day:
+----------+-------------------+
|      date|total_response_size|
+----------+-------------------+
|2024-01-01|            1835502|
|2024-01-02|            1853829|
|2024-01-03|            1848673|
|2024-01-04|            1909639|
|2024-01-05|            1844522|
|2024-01-06|            1861087|
|2024-01-07|            2032972|
|2024-01-08|            1711595|
|2024-01-09|            1790842|
|2024-01-10|            1903851|
|2024-01-11|            1857280|
|2024-01-12|            1734784|
|2024-01-13|            1896822|
|2024-01-14|            1938702|
|2024-01-15|            1736091|
|2024-01-16|            1847198|
|2024-01-17|            1811768|
|2024-01-18|            1816352|
|2024-01-19|            1707781|
|2024-01-20|            1976929|
+----------+-------------------+
only showing top 20 rows

In [ ]:
spark.stop()